<h1>All Tasks</h1>

<%= link_to 'New Task', new_task_path %> <% if @tasks.empty? %>
<% if @tasks.empty? %>
  <p>No tasks yet. Create one!</p>
<% else %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
        <% if task.completed? %>
          (Completed)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

  <p>No tasks yet. Create one!</p>
<% else %>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
        <% if task.completed? %>
          (Completed)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>